.companySelector {
    padding: 2%;
    width: 100%;
    height:  80%;
  }
  
  .companyButton {
    margin: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border: 1px solid #0EAE7A;
    width: 87%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
     display: grid;
     grid-template-columns: repeat(3, 1fr);

     justify-content: center ;
  }
  
  .companyButton.active {
    color: #0EAE7A;
    border-radius: 10px;
    width: 87%;

  }

  .companyIcon{
    margin-top: 3px;
    justify-self: end; /* 개별 아이콘을 우측 정렬 */
  }

  .compaanySelector2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
  
  .companyItems {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    text-align: left;
    margin-left: 40px;
    overflow: hidden;
    max-height: 0;

    transition: max-height 0.3s ease-out; /* 애니메이션 시간 및 효과 설정 */
  }
  
  .companyItems.active {
    max-height: 500px; /* 슬라이드 시 확장할 최대 높이 설정 (적절한 값으로 조정 가능) */
  }

  .cartItem {
    margin: 5px 15px 0;
    margin-top: 10px;

  }
  
  input[type='radio'] {
    
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    width: 15px;
    height: 15px;
    border: 2px solid #ccc; 
    border-radius: 50%;
    outline: none; 
    cursor: pointer;
  }

  input[type='radio']:checked {
    
    background-color: #0EAE7A; 
    width: 15px;
    height: 15px;
    border: none;
  
  }