.paymainContainer{
  padding: 50px;
  display: flex;
  justify-content: center;
}
.paymainmenu{
  border-right: 1px solid #ccc;

}
.pay-container{
margin-left: 45px;
}

.paymainContainer1 {
  padding: 100px;

}
.paymainContainer2 {
  display: grid;  
  width: 100%;
  max-width: 1401px;
  grid-template-columns: 350px 500px 450px;
border: 1px solid #ccc;
border-radius: 10px;
padding: 2%;
height: auto;
box-shadow: 15px 15px 15px #e2dede;
    border-right: 1px solid #ccc;

}

.tab-buttons{
  text-align: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 71%;
  margin-right: 2%;
}

.tab-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px;
  text-align: center;
  width: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab-buttons .active {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}


.paymaindateselect{
  padding-left: 1%;
  padding-right: 3%;
  height: 100%;
}

.step-indicator-container {
  grid-column: 1 / -1; /* 그리드 전체를 차지하도록 설정 */

  margin-bottom: 20px; /* 인디케이터와 grid 사이의 간격 */
  margin-right: 100px;
}


/*날짜 선택 디자인 */
.desc{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
width: 400px;
margin-left: 8%;
padding: 5px;
gap: 10px;
text-align: center;
}

.react-datepicker {
  font-size: 16px;
  width: 95%;
  max-width: 600px; /* 최대 폭 설정 */
  border-radius: 20px;
  border: none;
}

.heading4{
  margin-bottom: 15px;
}

.react-datepicker__header {
  background: none;
  font-size: 12px; /* 월/연도 텍스트 크기 */
  padding-top: 10px;
 
  border: none;
}

.react-datepicker__month-container {
  float:none;
}

.react-datepicker__current-month {
  font-size: 22px;
  margin-bottom: 10px;
  color: #000000;
  
}


 .react-datepicker__day, .react-datepicker__time-name {
  font-size: 20px; /* 요일 및 날짜 텍스트 크기 */
  width: 50px; /* 날짜 셀 크기 */
  height: 50px;
  line-height: 48px;
  margin: 5px;
  border-radius: 50%; /* 원형으로 날짜 표시 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
}

.react-datepicker__navigation{
  margin-right: 60px;
  margin-left: 330px;
}

.react-datepicker__navigation-icon::before{
  border-color: #000000;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 6px;
    width: 15px;
    margin-top: 5px;
    
}

.react-datepicker__day-name{
font-size: 25px;
font-weight: normal;
    width: 55px;
    height: 55px;
    line-height: 48px;
    margin: 2.5px;
    border-radius: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border:none;
    margin-top: 25px;
}


h2.react-datepicker__current-month {
font-size: 25px;
font-weight: normal;
text-align: center;
}


.react-datepicker__day--highlighted{
  background: #0EAE7A;  
  color: #ffffff;
}

.react-datepicker__day--selected{
  background-color: #000000;
  color: #ffffff;

}

.react-datepicker__day--today{
  border:1px solid #ccc;
  background-color: #dde9b500;
}
.react-datepicker__day--keyboard-selected{
  border:1px solid #ccc;
}

.react-datepicker__day--selected, .react-datepicker__day--in-range {
  background-color: #0EAE7A;
  color: #ffffff;
  
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-range:hover {
  background-color: #45a049;
  
}

.react-datepicker__day--today {
  color: #000000;
}

.react-datepicker__day:hover {
  background-color: #eee;
  cursor: pointer;
  border-radius: 50%;
}
.mld{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; 
  
}

.mld1{
  flex: 1;
  width: 60px;
  margin-left: 45px;
  padding: 5px;
  
}
.mld2{
  flex: 1;
  width: 60px;
  margin-left: 30px;
  padding: 5px;
}
.mld3{
  flex: 1;
  width: 60px;
  margin-left: 10px;
  padding: 5px;
}

.extra-section {
  flex-direction: column;
}

.range-selection,
.daily-selection {
  margin-top: 20px;
  width: 400px;
}


.selection-box {
  border: 1px solid ;
  padding: 10px;
  margin-top: 10px;
  background-color: #f8f8f8;
  border-radius: 50%;
  color: rgb(16, 16, 16);
}

.selected-date {
  margin-bottom: 10px;
}

.meal-buttons {
  margin-top: 5px;
}

.meal-buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.meal-buttons button:hover {
  background-color: #45a049;
}

.selected-range {
  background-color: #000000 !important;
  color: white !important;
}

.meal-buttons-inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.meal-section {
  display: flex;
  align-items: center;
}

.meal-section span {
  margin-right: 5px;
}

.meal-section button {
  margin: 0 5px;
}

/* step-indicator */

.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 700px;
}

.step {
  flex: 1;
  text-align: center;
  position: relative;
}

.step.active .step-number {
  background-color: #000000;  
  color: white;
  border: none;
}

.step .step-number {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid #ccc;

}

.step .step-label {
  font-size: 14px;
  color: #666;
  
  
}

.step::after {
  content: '';
  position: absolute;
  top: 15px;
  right: -50%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: -1;
}

.step:last-child::after {
  display: none;
  
}

.step.active .step-label {
  font-weight: bold;
  color: #000000;
  display: inline-block; /* Ensures the width adjusts to the content */


}


.step.active::after {
  background-color: #000000;  
  border:none;
}

/* StepIndicator.css 또는 다른 CSS 파일 */
.rest-day {
  background-color: #ffcccc !important; /* 쉬는 날 배경색 */
  pointer-events: none !important;      /* 선택 불가능하게 */
  color: #999 !important;               /* 텍스트 색상 */
}







