.rangeSelection {
    padding: 20px;
    height: 100%;
  max-height: 1000px;
  width: 100%;
  border-left: 1px solid #ccc;
  }
  
  .rangeButton, .dailyButton {
    background-color: #fff;  
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:bold;
    margin-left: 190px;
   cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
  }
  
  .rangeButton:hover {
    background-color: #ffffff;
    color: #0EAE7A;
    border: 1px solid #0EAE7A;

  }

  
  
  

  .resetButton:hover {
    background-color: #c82333;
  }
  


  .selectionBox h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .selectedDate {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .mealButtonsInline {
    display: flex;
  justify-content: space-around; /* 각 섹션이 고르게 가로로 배치되도록 설정 */
  align-items: center;
}
  
  
  .mealSection {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
  }

  .mealSection span {
    font-weight: bold;
  }
  
  .mealSection button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .mealSection button:hover {
    background-color: #ccc;
  }
  
  .mealSection button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .mealSection span {
    width: 30px;
    text-align: center;
  }